h3.redbg{ background-color: red;}
body.bodybg{ background-color: aqua;}
a.page{ border-style:solid;}
a.page{ border-color: black;}
u.catgs{ border-style:ridge;}
u.catgs{ border-color: dimgray;}
h1.heading{background-color:ghostwhite;}
body.bodybg{font-style :italic}
body.bodybg{font-size: larger;}